@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

.container {
  min-width: 50%;
  background-color: #fff;
  margin-top: 10vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  border-bottom: 1px solid rgba(100, 100, 111, 0.2);
}

.refresh-btn {
  font-size: 18px;
  color: rgba(100, 100, 111, 0.8);
}

.list-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 4px 18px;
  border-bottom: 1px solid rgba(100, 100, 111, 0.2);
}

.to-do-input,
.to-do-input::placeholder {
  width: 90%;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
  color: rgba(100, 100, 111, 0.5);
}

.add-btn {
  font-size: 15px;
  color: rgba(100, 100, 111, 0.8);
}

.to-do-title,
.todo-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(84, 88, 98);
}

label {
  display: flex;
  align-items: center;
  gap: 25px;
}

.checkbox {
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.todo-description {
  border: none;
  outline: none;
  font-weight: 300;
  color: rgb(0, 0, 0);
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  padding: 15px;
}

.trash-container button {
  font-size: 18px;
}

.clear-all {
  padding: 20px 18px;
  text-align: center;
  background-color: rgb(246, 246, 246);
}

.clear-all-btn {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.548);
}

.clear-all-btn:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
